body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping */
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
    align-items: center;
    /* Use gap for spacing */
}

.col {
    flex: 1;
    /* Allow columns to grow and shrink, with a base width of 20% */
    min-width: 150px;
    /* Set a minimum width for better alignment */
}

.col:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: auto;
    /* Allow button to size based on content */
    align-self: stretch;
}

button:hover {
    background-color: #0056b3;
}

#updateConversionRateButton {
    padding: 8px 18px;
    font-size: 0.9em;
    margin-top: 23px;
}


@media (max-width: 600px) {
    .container {
        width: 95%;
        /* Full width on smaller screens */
    }
}

nav {
    background-color: #007BFF;
    /* Blue background */
    padding: 10px;
    /* Padding around the nav */
}

nav ul {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}

nav ul li {
    display: inline;
    /* Display items in a line */
    margin-right: 20px;
    /* Space between items */
}

nav ul li a {
    color: white;
    /* White text color */
    text-decoration: none;
    /* Remove underline */
    font-weight: bold;
    /* Bold text */
}

nav ul li a:hover {
    text-decoration: underline;
    /* Underline on hover */
}